{% extends "::layout.html.twig" %}

{% block title %}Hey{% endblock %}

{% block content %}

    <section class="row">
        <h1>Articles list </h1>
        {% for article in articles %}
            <article class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <header>
                    <figure>
                        <img class="img-responsive" src="{{ article.post_thumbnail|default(asset('/bundles/app/img/series-default.jpg')) }}" alt="picture" width="263" height="389" title="{{ article.title }}">

                    </figure>
                </header>
                <p>{{ article.content }}</p>
                <footer>
                    <p>Released on {{ article.createdAt|date }}</p>
                </footer>

            </article>
        {% endfor %}
    </section>

{% endblock %}
